<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<div id="app">
    <div class="logo_bg">
        <div class="cover">
            <div class="login slie">
                    <span class="login_active">
                        <p class="p1">Welcome!</p>
                        <p class="p2">Please enter your username and password</p>
                        <span class="info">
                            <p class="title">Username</p>
                            <input type="text" name="username">
                        </span>
                         <span class="info">
                            <p class="title">Password</p>
                            <input type="text" name="password">
                        </span>
                        <button class="login_but">Login</button>
                    </span>
            </div>
        </div>
    </div>
</div>

</body>
</html>